	<section class="text-gray-600 body-font">
	  <div class="container px-5 py-8 mx-auto">
		  
	    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
			
		  <!-- post 1 -->
		  <div class="sm:w-1/2 mb-4 rounded-lg">
	        <div class="rounded-lg h-80 overflow-hidden">
	          <a href="/posts/<%= first_p.slug %>"><img alt="content" class="object-cover object-center h-full w-full shadow-md" src="<%= first_p.image %>"></a>
	        </div>
	        <div class="p-4 shadow-sm border border-slate-200">
			  <div class="flex space-x-1">
	            <div class="mb-4 rounded-full <%= get_topic_color(first_p.topic) %> py-0.5 border border-transparent text-sm text-white transition-all shadow-sm min-w-20 text-center">
	              <%= first_p.topic.upcase %>
	            </div>
			    <div class="flex">
			    <% if first_p.location.present? %>
				  <%= render "shared/post_locations", :post => first_p %>
			    <% end %>
			    <% if first_p.tags.present? %>
				  <%= render "shared/post_tags", :post => first_p %>
			    <% end %>
			    </div>
			  </div>
	          <h6 class="mb-2 text-slate-800 text-xl font-semibold">
	            <%= first_p.title %>
	          </h6>
	          <p class="text-slate-600 leading-normal font-light">
	            <%= first_p.preview %>
	          </p>
			  
  			  <div class="flex items-center justify-between p-4">
  			    <div class="flex items-center">
  			      <img
  			        alt="post author <%= pretty_author("krister-axel") %>"
  			        src="https://res.cloudinary.com/ashland-io-llc/image/upload/c_pad,w_100,h_100,ar_1:1/v1611606713/hytale/krister-axel-thumb_k4qf7c.png"
  			        class="relative inline-block h-8 w-8 rounded-full"
  			      />
  			      <div class="flex flex-col ml-3 text-sm">
  			        <span class="text-slate-800 font-semibold"><%= pretty_author(first_p.author) %></span>
  			        <span class="text-slate-600">
  			          <%= first_p.published_on %>
  			        </span>
  			      </div>
  			    </div>
				<div class="flex items-center">
					<%= link_to "Get It", post_path(slug: first_p.slug), class: "block px-4 py-2 text-center bg-cyan-400 hover:bg-blue-500 hover:text-white rounded-lg" %>
				</div>
  		      </div>
	        </div>
			
	      </div>

		  <!-- post 2 -->
		  <div class="sm:w-1/2 mb-4 rounded-lg px-4">
	        <div class="rounded-lg h-80 overflow-hidden">
	          <a href="/posts/<%= second_p.slug %>"><img alt="content" class="object-cover object-center h-full w-full" src="<%= second_p.image %>"></a>
	        </div>
	        <div class="p-4 shadow-sm border border-slate-200">
			  <div class="flex space-x-1">
	            <div class="mb-4 rounded-full <%= get_topic_color(second_p.topic.downcase) %> py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm min-w-20 text-center">
	              <%= second_p.topic.upcase %>
	            </div>
				
		        <div class="flex">
		        <% if second_p.location.present? %>
			      <%= render "shared/post_locations", :post => second_p %>
		        <% end %>
		        <% if second_p.tags.present? %>
			      <%= render "shared/post_tags", :post => second_p %>
		        <% end %>
		        </div>
				
			  </div>
	          <h6 class="mb-2 text-slate-800 text-xl font-semibold">
	            <%= second_p.title %>
	          </h6>
	          <p class="text-slate-600 leading-normal font-light">
	            <%= second_p.preview %>
	          </p>
			  
  			  <div class="flex items-center justify-between p-4">
  			    <div class="flex items-center">
  			      <img
  			        alt="post author <%= pretty_author("krister-axel") %>"
  			        src="https://res.cloudinary.com/ashland-io-llc/image/upload/c_pad,w_100,h_100,ar_1:1/v1611606713/hytale/krister-axel-thumb_k4qf7c.png"
  			        class="relative inline-block h-8 w-8 rounded-full"
  			      />
  			      <div class="flex flex-col ml-3 text-sm">
  			        <span class="text-slate-800 font-semibold"><%= pretty_author(second_p.author) %></span>
  			        <span class="text-slate-600">
  			          <%= second_p.published_on %>
  			        </span>
  			      </div>
  			    </div>
				<div class="flex items-center">
					<%= link_to "Get It", post_path(slug: second_p.slug), class: "block px-4 py-2 text-center bg-cyan-400 hover:bg-blue-500 hover:text-white rounded-lg" %>
				</div>
  		      </div>
	        </div>
			
	      </div>
		  
	    </div>
	  </div>
	</section>