<section class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-col px-5 py-4 justify-center items-center">
    <div class="w-full md:w-2/3 flex flex-col items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Search CHILLFILTR.com</h1>
      <p class="leading-relaxed"> Enter your question or search term(s):</p>
      <div class="flex w-full justify-center items-end">
        <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full">
			
			<%= form_with url: :pages_search, method: :get do |form| %>
			  <div class="p-2"><span class="border"><%= form.text_field :search, size: 40, height: 20, :value => @search_term, :class => "px-2" %></span></div>
			  <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"><%= form.submit "Search" %></button>
			<% end %>
		  
        </div>
      </div>
      
    </div>
	
	<div>
	  <p><%= @posts ? @posts.size : 0 %> records found.</p>
	  <% if @posts && @posts.size>0 %>
	    <% @posts.each do |p| %>
	      <section class="text-gray-600 body-font hover:bg-gray-300">
	      	<a href="<%= post_path(slug: p.slug) %>">
	        <div class="container px-1 py-2 mx-auto">
	          <div class="lg:w-5/6 flex sm:flex-row sm:items-center items-start mx-auto">
	            <div class="flex-shrink-0 mr-3">
	              <img src="<%= p.image %>" alt="<%= p.title %>" class="w-16 h-16 object-cover rounded">
	            </div>
	            <h1 class="flex-grow sm:pr-2 text-normal font-medium title-font text-gray-900 min-w-80 max-w-80"><%= p.title %></h1>
	      		<div class="flex">
	      		  <div class="text-sm min-w-40 px-1 max-w-120"><%= p.preview %></div>
	      	    </div>
	          </div>
	        </div>
	        </a>
	      </section>
	    <% end %>
	  <% end %>
	  
	  
	</div>
  </div>
</section>