<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div class="error-messages">
      <h4><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true, size: 40, class: "px-4" %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, size: 40, class: "px-4" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 6, cols: 60, required: true, class: "px-4" %>
  </div>

  <div class="field">
    <%= form.label :preview %>
    <%= form.text_area :preview, rows: 3, cols: 60, class: "px-4" %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic, size: 40, class: "px-4"  %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.url_field :image, size: 40, class: "px-4" %>
  </div>

  <div class="field">
    <%= form.label :video_link %>
    <%= form.url_field :video_link, size: 40, class: "px-4"  %>
  </div>

  <div class="field">
    <%= form.label :audio_link %>
    <%= form.url_field :audio_link, size: 40, class: "px-4"  %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.url_field :location, size: 40, class: "px-4"  %>
  </div>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.url_field :tags, size: 40, class: "px-4"   %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>