<header class="post-header">
  
  
  <div class="post-meta flex space-x-1  bg-blue-100 rounded-lg">
    <% if @post.topic.present? %>
	  <section class="text-gray-600 body-font">
	    <div class="container px-5 py-1 mx-auto">
	      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
	        <h1 class="flex-grow px-2 sm:pr-16 text-2xl font-medium title-font text-gray-900 bg-blue-200 rounded-lg"><%= @post.topic.capitalize %></h1>
	      </div>
	    </div>
	  </section>
    <% end %>
    <% if @post.location.present? %>
      <span class="location">Location: <%= @post.location.name %></span>
    <% end %>
    <% if @post.tag.present? %>
      <span class="tag">Tag: <%= @post.tag.name %></span>
    <% end %>
  </div>
  
  <div class="title-section flex justify-center"><h1 class="text-3xl font-bold text-black-600"><%= @post.title %></h1></div>
  <div class="title-section flex justify-center"><h1 class="text-xl text-gray-800 px-8"><%= @post.preview %></h1></div>
</header>


<div class="container px-5 py-2 mx-auto">
  <div class="flex flex-wrap -mx-4 -mb-10 text-center">
    <div class="post-show mb-8">
      
      <div class="post-content">
        <% if @post.image.present? %>
		  <div class="flex justify-center mb-8">
            <%= image_tag @post.image, class: "featured-image" %>
		  </div>
        <% end %>
				
		<% if current_user || true %>
          <% if @post.video_link.present? %>
            <div class="video-section">
			  <iframe id="ytplayer" type="text/html" width="100%" height="540"
			    src="https://www.youtube.com/embed/<%= get_val_string(@post.video_link) %>?autoplay=1&origin=http://example.com"
			    frameborder="0"></iframe>
            </div>
          <% end %>
          
          <% if @post.audio_link.present? %>
            <div class="audio-section flex justify-center">
			  <iframe scrolling="no" style="width: 320px; height: 70px; border:0; overflow: hidden; margin-top: -10px;" 
			    src="https://audio-34a0d.web.app/amplitude.html?load=<%= @post.audio_link %>">
			  </iframe>
            </div>
          <% end %>
		<% end %>
        
        <div class="content text-left">
          <%= simple_format(@post.content) %>
        </div>
      </div>
      
      <div class="post-actions">
        <% if current_user %><%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %><% end %>
        <%= link_to "Back to Posts", root_path, class: "btn btn-secondary" %>
      </div>
    </div>
  <div>
</div>
