<% content_for :head do %>
  <meta name="description" content="<%= @post.preview %>">
  <meta name="keywords" content="<%= @post.topic %>, <%= @post.tags_from_hash.join(", ") %>, <%= @post.locations_from_hash.join(", ") unless !@post.location %>">
  
  <meta property="og:type" content="article" />
  <meta property="og:description" content="<%= @post.preview %>">
  <meta property="og:image" content="<%= @post.image %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<header class="post-header">
  <div class="post-meta flex bg-gradient-to-tl from-white-400 via-gray-100 to-gray-400">
    <div class="flex">
	<% if @post.topic.present? %>
	  <%= render "shared/post_topic", :post => @post %>
    <% end %>
    <% if @post.location.present? %>
	  <%= render "shared/post_locations", :post => @post %>
    <% end %>
    <% if @post.tags.present? %>
	  <%= render "shared/post_tags", :post => @post %>
    <% end %>
    </div>
  </div>
  <div class="title-section flex justify-center"><h1 class="text-3xl font-bold text-black-600"><%= @post.title %></h1></div>
  <div class="title-section flex justify-center"><h1 class="text-xl text-gray-800 px-8"><%= @post.preview %></h1></div>
  <div class="author-info flex justify-end">
    <div class="text-right"><small>Published <%= @post.published_on %> by <%= pretty_author(@post.author) %></small></div>
  </div>
</header>

<div class="container px-5 py-2 mx-auto">
  <div class="flex flex-wrap -mx-4 -mb-10 text-center">
    <div class="post-show mb-8">

      <div class="post-content">
        <% if @post.image.present? %>
		  <div class="flex justify-center mb-4">
            <%= image_tag @post.image, class: "featured-image" %>
		  </div>
        <% end %>

		<% if current_user || true %>
          <% if @post.video_link.present? %>
            <div class="video-section">
			  <% if @post.video_link.include?("vimeo") %>
			    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/<%= get_val_string(@post.video_link) %>?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Richy Mitch &amp; The Coal Miners - Wet Socks (lyric video)"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
			  <% else %>
			    <iframe id="ytplayer" type="text/html" width="100%" height="540"
			    src="https://www.youtube.com/embed/<%= get_val_string(@post.video_link) %>?autoplay=1&origin=http://chillfiltr.com"
			    frameborder="0"></iframe>
			  <% end %>
            </div>
          <% end %>

          <% if @post.audio_link.present? %>
            <div class="audio-section flex justify-center">
			  <iframe scrolling="no" style="width: 320px; height: 70px; border:0; overflow: hidden; margin-top: -10px;" 
			    src="https://audio-34a0d.web.app/amplitude.html?load=<%= @post.audio_link %>">
			  </iframe>
            </div>
          <% end %>
		<% end %>

        <div class="content text-left">
          <%= sanitize @post.content, tags: %w[p br strong em ul ol li h1 h2 h3 h4 h5 h6 blockquote a img], attributes: %w[href src alt class] %>
        </div>
      </div>

      <div class="post-actions">
        <% if Rails.env.development? %><%= link_to "Edit", edit_post_path(slug: @post.slug), class: "btn btn-primary" %><br/><% end %>
        <%= link_to "Back to Posts", root_path, class: "btn btn-secondary hover:text-white bg-teal-300" %><br/>
		<a href="/posts/<%= @random_link %>" class="btn btn-secondary hover:text-white bg-teal-300">Something Random</a>
      </div>
    </div>
  <div>
</div>
