<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chillonrails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
	
    <link rel="icon" href="/svg-logo2.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon-300v2.png">
	
	<%# add meta tags for socials %>
	<meta property="og:title" content="<%= content_for(:title) %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
	  
	  
	<%= render "shared/app_layout_menu" %>
	  
    <main class="flex justify-center items-center min-h-screen">
      <%= render 'shared/flash' %>

      <div class="w-full max-w-screen-lg px-4">
        <%= yield %>
      </div>
	  
    </main>
	
	<footer class="text-gray-600 body-font">
	  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
		
		
		
	      <div class="inchup"><a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="/">
	        <%= render 'shared/logo30' %>
	        <span class="ml-3 text-xl">CHILLFILTR®</span>
	      </a></div>
	      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2025 
	        <a href="https://blacklake.media" class="text-gray-600 text-sm ml-1 hover:text-blue-900" rel="noopener noreferrer" target="_blank">Black Lake Media</a>
	      </p>
	      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
	        <a href="<%=  %>" class="text-gray-600 ml-1 hover:text-blue-900" rel="noopener noreferrer" target="_blank"><%= link_to "Submissions", pages_submit_path %></a>
	      </p>
	      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
	        <a href="<%=  %>" class="text-gray-600 ml-1 hover:text-blue-900" rel="noopener noreferrer" target="_blank"><%= link_to "Contact", pages_contact_path %></a>
	      </p>
	    
		
		
	    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
	      <a class="text-gray-500" href="https://www.facebook.com/chillfiltr" target="_blank">
	        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
	          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
	        </svg>
	      </a>
	      <a class="ml-3 text-gray-500" href="https://www.x.com/chillfiltr" target="_blank">
	        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
	          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
	        </svg>
	      </a>
	      <a class="ml-3 text-gray-500" href="https://www.instagram.com/chillfiltr" target="_blank">
	        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
	          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
	          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
	        </svg>
	      </a>
	      <a class="ml-3 text-gray-500"  href="https://www.linkedin.com/company/black-lake-media/" target="_blank">
	        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
	          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
	          <circle cx="4" cy="4" r="2" stroke="none"></circle>
	        </svg>
	      </a>
	    </span>
	  </div>
	</footer>
	
	
  </body>

</html>
