<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chillonrails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
	  
	  <header class="text-gray-600 body-font">
	    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
	      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
			<%= render 'shared/logo' %>
	        <span class="ml-3 text-xl">CHILLFILTR®</span>
	      </a>
	      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
	        <a class="mr-1 hover:text-gray-900"><%= link_to 'Home', root_path, class: "block px-6 py-3 text-center hover:bg-blue-500 hover:text-white rounded-lg" %></a>
		    <% if Rails.application.routes.url_helpers.respond_to?(:pages_about_path) %>
			<a class="mr-1 hover:text-gray-900"><%= link_to "About Page", pages_about_path, class: "block px-6 py-3 text-center bg-green-100 hover:bg-blue-500 hover:text-white rounded-lg" %></a>
		    <% end %>
		    <% if Rails.application.routes.url_helpers.respond_to?(:pages_authentification_path) %>
		      <a class="mr-1 hover:text-gray-900"><%= link_to "Authentication", pages_authentification_path, class: "block px-6 py-3 text-center bg-yellow-100 hover:bg-blue-500 hover:text-white rounded-lg" %></a>
		    <% end %>
		    <% if Rails.application.routes.url_helpers.respond_to?(:pages_account_path) %>
		      <a class="mr-1 hover:text-gray-900"><%= link_to "Account Page", pages_account_path, class: "block px-6 py-3 text-center bg-red-100 hover:bg-blue-500 hover:text-white rounded-lg" %></a>
		    <% end %>
		    <% if Rails.application.routes.url_helpers.respond_to?(:letter_opener_web_path) && Rails.env.development? %>
		      <a class="mr-1 hover:text-gray-900"><%= link_to "Check Email", letter_opener_web_path, target: "_blank", class: "block px-6 py-3 text-center bg-gray-100 hover:bg-blue-500 hover:text-white rounded-lg" %></a>
		    <% end %>
	      </nav>
	    </div>
	  </header>
	  
	  
    <main class="flex justify-center items-center min-h-screen">
      <%= render 'shared/flash' %>

      <div class="w-full max-w-screen-lg px-4">
        <%= yield %>
      </div>
    </main>
  </body>

</html>
